
/*text-xs (0.75rem)
.text-sm (0.875rem)
.text-md (1rem)
.text-lg (1.25rem)
.text-xl (2rem)*/

.container{
  width: 100% !important;
  max-width: 100% !important;
}

.containerPage{
  padding: 5px;
}

.colEditar, .colExcluir{
  width: 25px !important;
}

.colSituacao{
  width: 30px !important;
}

.colData{
  width: 40px !important;
}

.form-group {
  margin-bottom: 0.1rem !important;
}

label {
  margin-bottom: 0.2rem !important;
}